li.selected {
    background-color: #F5F5F5;
}

.icon-light-color {
    color: #737373;
}

button.button.less-padding {
    padding:0 0px;
}

.md .list-group-title.thinner {
    height: 32px;
    line-height: 32px;
}

.stepper.full-width,.segmented.full-width {
    width: 100%;
}

.smaller-text {
    font-size: 14px;
}

span.stemp img {
    vertical-align: bottom;
}

@media (max-width: 425px) {
    span.hide-small {
	display: none;
    }
}
